django==1.11.6
djangorestframework==3.5.4
psycopg2==2.6.2
django-suit==0.2.25
django-suit-daterange-filter==0.0.4
django-nested-admin==3.0.19
django-tinymce==2.6.0
Pillow==4.0.0
django-extensions==1.9.0
django-wysiwyg==0.8.0