@font-face {
  font-family: "RobotoRegular";
  src: url("/static/fonts/RobotoRegular/RobotoRegular.eot");
  src: url("/static/fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
          url("/static/fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
          url("/static/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("/static/fonts/RobotoLight/RobotoLight.eot");
  src: url("/static/fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
          url("/static/fonts/RobotoLight/RobotoLight.woff") format("woff"),
          url("/static/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("/static/fonts/RobotoMedium/RobotoMedium.eot");
  src: url("/static/fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
          url("/static/fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
          url("/static/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("/static/fonts/RobotoBold/RobotoBold.eot");
  src: url("/static/fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
          url("/static/fonts/RobotoBold/RobotoBold.woff") format("woff"),
          url("/static/fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}