<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<html>
<head>
    <meta charset="utf-8">
    <title>Книги Классических бесед</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Классические беседы - это сообщество семей и академическая программа поддержки семейного образования, которая, в отличие от школьной, не противоречит православному мировоззрению...">
    <meta name="Keywords" content="Классические беседы, обучение, академическая программа поддержки семейного образования">


    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000000"/>

    <link rel="stylesheet" href="/static/dist/css/main.css?version=17">


    <meta property="og:url" content="http://classicalbooks.ru/"/>
    <meta property="og:image" content="http://classicalbooks.ru/static/dist/logo.png"/>
    <meta property="og:site_name" content="classicalbooks.ru/"/>
    <meta property="og:description" content="Классические беседы - это сообщество семей и академическая программа поддержки семейного образования, которая, в отличие от школьной, не противоречит православному мировоззрению."/>
    <link rel="image_src" href="/static/dist/logo.png"/>

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
</head>
<body>


<div id="app"></div>

<script src="/static/dist/vendore.js?version=17"></script>

<script src="/static/dist/main.js?version=17"></script>

</body>
</html>
