.about{
  &__wrapper{
    display: flex
    &-left{
      width: 75%
      padding-right: 40px
      flex: 75%
    }
    &-right{
      width: 25%
      flex: 25%
    }
  }
  &__title{
    margin: 20px 0px 0px 0px ;
  }
  h3{
    margin-top: 50px
  }
}