.basket{
  &__header{
    font-family: 'MerriweatherRegular',Arial, sans-serif;
    font-size: 12px;
    margin-top: 10px;
  }
  &__title{
    margin: 20px 0;
  }
  &__list{
    border-bottom: 1px dashed #5e7d23;
    color: #303942;
    padding-bottom: 10px;
    display: flex
    justify-content: space-between
    &_item{
      font-family MerriweatherRegular
      color #303942
      font-size 15px
      line-height: 18px
      flex 11%
      width: 11%
      position: relative

      &-desc{
        flex: 56%
        width: 56%
      }
    }
  }
  &__cart{
    &_item{
      display: flex
      padding: 20px 0px
      border-bottom: 1px solid #5e7d23;
      position: relative
      &-close{
        position: absolute
        background url("/static/img/close.svg") no-repeat
        background-size 100%
        right: 20px
        top: 20px
        height: 15px
        width: 15px
        cursor: pointer
      }
      &-active{
        background-color rgba(255,255,255,0.8)
        display: flex
        justify-content: center
        align-items center
        width: 100%
        height: 100%
        position: absolute
        top: 0px
        left: 0px
        .button{
          background-color white
          border: 1px solid #303942
          padding: 10px
          cursor: pointer
          transition  .3s
          font-family LatoRegular
          &:hover{
            background-color #343434
            color white
          }
        }
      }
      &-img{
        width: 15%
        flex 15%
        padding-right: 30px;
        img {
          width: 100%
        }
      }
      &-desc{
        width: 41%
        padding-right: 20px
        &_title{
          font-size 15px
          font-family MerriweatherRegular
          line-height: 18px
          margin: 10px 0px
        }
        &_text{
          font-family MerriweatherRegular
          font-size 13px
          line-height: 18px
          max-height: 65px
          overflow: hidden
          text-overflow ellipsis
          span{
            text-overflow ellipsis
          }

        }
      }
      &-price{
        width: 11%
        flex 11%;
        font-size 14px
        line-height: 18px
        color: #a3a3af;
        font-family LatoRegular
      }
      &-col{
        width: 11%
        flex: 11%;
        padding-right 40px
        input{
          width: 100%
        }
      }
      &-remove{
        width: 11%
        flex 11%
        span{
          color: #303942;
          cursor: pointer;
          font-family MerriweatherRegular
          font-size 13px
          line-height: 18px
          &:hover{
            text-decoration underline
          }
        }
      }
      &-total {
        width: 11%
        flex 11%
        font-family MerriweatherRegular
        font-size 14px
        line-height: 18px
      }
    }
  }
  &__total{
    padding-top: 10px
    padding-bottom: 15px
    border-bottom: 1px dashed #5e7d23;
    text-align right
    &_end{
      &-total{
        font-family MerriweatherRegular
        font-size 18px
        color: #a3a3af;
        line-height: 18px
      }
      &-nal{
        font-size 13px
        line-height: 18px
        color: #282832;
        font-family MerriweatherRegular
        padding-top: 4px
      }
    }
  }
  &__comment{
    padding-top: 17px
    display: flex
    justify-content space-between
    &_item{
      display: flex
      font-family MerriweatherRegular
      &-textarea{
        width: 300px;
        padding: 10px;
        margin-left: 5px;
        max-width: 100%;
        font-family MerriweatherRegular
      }
      .button{
        display: block;
        color: #ffffff;
        height: 30px;
        text-align: center;
        background-color #6582a0;
        border: 0;
        cursor: pointer;
        border-radius: 4px;
        margin-left 15px
        span{
          padding: 0px 10px
          font-family MerriweatherRegular
          line-height: 30px
        }
        &:hover {
          span {
            text-decoration: underline
          }
        }
      }
    }
  }
}
