.support{
  margin-top: 100px
  &_input{
    width 500px
    display: flex
    justify-content: space-between
    label{
      cursor: pointer
    }
    input{
      margin-bottom: 15px
      border: 1px solid #D1D1D1;
      border-radius: 3px;
      height: 26px
      max-width: 100%;
      width: 315px;
      padding-left: 10px
    }
  }
  &_text{
    display: flex
    justify-content: space-between
    width: 500px
    margin-bottom 20px
    textarea {
      border: 1px solid #D1D1D1;
      border-radius: 3px;
      height: 26px
      max-width: 100%;
      width: 315px;
      padding: 10px
      max-width: 315px
      min-width: 315px
      height: 140px
      min-height: 140px
    }
  }
  .button{
    width: 100px
    margin-top: 20px
  }
}