@font-face {
  font-family: "MerriweatherRegular";
  src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot");
  src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MerriweatherRegular/MerriweatherRegular.woff") format("woff"),
    url("../fonts/MerriweatherRegular/MerriweatherRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MerriweatherBold";
  src: url("../fonts/MerriweatherBold/MerriweatherBold.eot");
  src: url("../fonts/MerriweatherBold/MerriweatherBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MerriweatherBold/MerriweatherBold.woff") format("woff"),
    url("../fonts/MerriweatherBold/MerriweatherBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MerriweatherItalic";
  src: url("../fonts/MerriweatherItalic/MerriweatherItalic.eot");
  src: url("../fonts/MerriweatherItalic/MerriweatherItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MerriweatherItalic/MerriweatherItalic.woff") format("woff"),
    url("../fonts/MerriweatherItalic/MerriweatherItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MerriweatherLight";
  src: url("../fonts/MerriweatherLight/MerriweatherLight.eot");
  src: url("../fonts/MerriweatherLight/MerriweatherLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MerriweatherLight/MerriweatherLight.woff") format("woff"),
    url("../fonts/MerriweatherLight/MerriweatherLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MerriweatherBoldItalic";
  src: url("../fonts/MerriweatherBoldItalic/MerriweatherBoldItalic.eot");
  src: url("../fonts/MerriweatherBoldItalic/MerriweatherBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MerriweatherBoldItalic/MerriweatherBoldItalic.woff") format("woff"),
    url("../fonts/MerriweatherBoldItalic/MerriweatherBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MerriweatherLightItalic";
  src: url("../fonts/MerriweatherLightItalic/MerriweatherLightItalic.eot");
  src: url("../fonts/MerriweatherLightItalic/MerriweatherLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MerriweatherLightItalic/MerriweatherLightItalic.woff") format("woff"),
    url("../fonts/MerriweatherLightItalic/MerriweatherLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
